<p>Test new post</p>
<div class="row">
    <aside class="col">
        <div class="card">
            <article class="card-body">
                {{!-- <a href="/login" class="float-right btn btn-outline-primary">Already a member</a> --}}
                <h4 class="card-title mb-4 mt-1">Create New Post</h4>
                <form class="new-post-form">
                    <div class="form-group">
                        <label>Title</label>
                        <input id="post-title" class="form-control" placeholder="Title" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Content</label>
                        <textarea id="post-content" class="form-control" placeholder="Title" type="text"></textarea>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Create </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->
    </aside>
</div>

<script src="/js/addPost.js"></script>